body {
    font-family: 'Roboto', sans-serif;
    background: rgb(236, 242, 247);
}

.a4-wrap {
    width: 700px;
    margin: 0 auto;
    padding: 30px 50px;
}

.avatar-wrap {
    width: 125px;
    margin: 0 auto;
}

.avatar-wrap img {
    width: 125px;
    height: 125px;
    border: 3px solid rgb(255, 62, 40);
    border-radius: 100%;
}

.name-title {
    margin: 10px 0;
}
.name-title .name,
.name-title .title {
    text-align: center;
}
.name-title .name {
    color: rgb(255, 62, 40);
    font-weight: 600;
}
.name-title .title {
    margin-top: 5px;
    color: rgb(90, 91, 92);
}

.description {
    margin: 25px 0;
    letter-spacing: 0.2px;
    line-height: 1.2;
    text-align: justify;
    color: rgb(90, 91, 92);
}
.description b {
    color: rgb(39, 39, 39);
}

.education {
    position: relative;
    margin: 40px 0;
    padding-top: 5px;
    /*border-top: 3px solid rgb(25, 51, 71);*/
}

.education span {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 20%;
    margin-right: -4px;
}

.education span:first-child,
.education span:last-child {
    color: transparent;
}

.education span:after {
    position: absolute;
    top: -16px;
    left: 70px;
    content: "";
    width: 10px;
    height: 10px;
    border: 1px solid rgb(25, 51, 71);
    background: #FFF;
    border-radius: 100%;
}

.education span:before {
    top: -12px;
    left: 0;
    width: 100%;
    position: absolute;
    content: "";
    border-top: 3px solid rgb(25, 51, 71);
}

.education span:first-child:after {
    left: 0;
    background: rgb(25, 51, 71);
}
.education span:last-child:after {
    left: 140px;
    background: rgb(25, 51, 71);
}

.work-info, .skills {
    display: flex;
    justify-content: space-between;
}

.work-info .info-card {
    min-width: 260px;
}

.info-card header {
    margin-bottom: 10px;
    padding: 5px 10px;
    background: rgb(25, 51, 71);
    border-left: 5px solid rgb(255, 62, 40);
    font-size: 14px;
    letter-spacing: 0.3px;
    color: rgb(225, 231, 236);
}

.occupation {
    margin: 10px 0;
}

.info-card .work-title {
    display: block;
    margin-bottom: 5px;
}

.info-card .timeline {
    margin: 0 5px;
    font-size: 13px;
    color: rgb(175, 177, 181);
}

.info-card .company {
    font-size: 13px;
    color: rgb(175, 177, 181);
}

.info {
    margin: 10px 0;
}
.info .question {
    display: inline-block;
    width: 60px;
}
.info .answer {
    font-size: 13px;
    color: rgb(175, 177, 181);
}

.skills {
    margin-top: 25px;
}
.skill {
    margin: 10px 0;
}
.skill .name {
    display: inline-block;
    width: 100px;
}

.star {
    position: relative;
}
.star:after {
    display: inline-block;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(255, 62, 40);
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.full:after {
    background: rgb(255, 62, 40);
}

